<%include file="base.html"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>

    $(document).ready(function() {
        $('#post_insert').hide();
        setDataTable();
    });

    function setDataTable() {
        var $table = $('#post_table');
        $table.dataTable({
            order: [[ 0, 'desc' ]],//0 번째 컬럼 정렬
            dom: '<"toolbar">rt<"bottom"ip><"clear">',
            bProcessing: true,
            serverSide: false,
            searching: true,
            pageLength: 10,
            ajax: {
                url: "/home/post_list",
                type: "POST",
                dataType: "json",
                data: buildSearchData,
                dataSrc: function (json) {
                    return json.data;
                }
            },
            columns: [
                {data: "id"},
                {data: "title"},
                {data: "content"},
                {data: "user_id"},
            ],
            columnDefs: [
                {targets: 0, visible: true},
                {targets: 1, visible: true},
                {targets: 2, visible: true},
                {targets: 3, visible: true},
            ],
            oTableTools: {
                sSwfPath: $table.data('swf-path'),
                aButtons: []
            },
            paginate: true,
            language: {
                lengthMenu: "_MENU_",
                zeroRecords: "조회된 데이터가 없습니다",
                info: "전체페이지 _PAGE_ / _PAGES_ ( _MAX_ )",
                infoEmpty: "조회된 데이터가 없습니다",
                infoFiltered: "(filtered from _MAX_ total records)",
                sEmptyTable: "조회된 데이터가 없습니다",
                paginate: {
                    first: "처음",
                    previous: "이전",
                    next: "다음",
                    last: "끝"
                }
            },
        });
    }

    function buildSearchData() {
        var obj = {
            csrfmiddlewaretoken: '${ csrf_token }',
        }
        return obj
    }

    <!---------------------------->

    function btn_posting(){
        $("#post_insert").show();
        $("#post_table").hide();
    }

    function btn_save(){
        var content_title = $('#content_title').val();
        var Content = $('#Content').val();
        var user_id = "${request.session['user_id']}";
        lock=0;

        if (content_title == '') {
            swal("Error","제목을 입력하세요", "warning");
            lock = 1;
        }
        else if (Content == '') {
            swal("Error","내용을 입력하세요", "warning");
            lock = 1;
        }

        if (lock==0) {

            $.ajax({
                type: "POST",
                url: "/home/post_list_data",
                data: {
                    content_title: content_title,
                    Content: Content,
                    user_id: user_id
                },
                success: function (data) {
                    if (data.return == 'success') {
                        $("#post_insert").hide();
                        location.reload();
                    }
                    else if (data.return != 'success') {
                        swal("posting-fail","왜 에러가났지 ??","warning")
                    }
                },
            });
        }
    }
</script>
<body>
% if 'user_id' in request.session:
<!-- 게시판 Header-->
<div style="height: 120px; width: 800px;margin: auto">
    <h1>게시판</h1>
    <button onclick="location.href='/home/post_ud'" type="button" class="btn btn-outline-warning" style="float: right;margin-left: 5px;">게시글 수정</button>
    <button onclick="btn_posting()" type="button" class="btn btn-outline-secondary" style="float: right">게시글 작성</button>

</div>
<!-- 게시판 글 목록-->

<!-- 게시판 글 작성-->
<div style="margin: auto; width: 900px;" id="post_insert">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="insert_title">제목</span>
        </div>
        <input type="text" id="content_title" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
    </div>

    <div class="input-group" style="height: 300px;">
        <div class="input-group-prepend">
            <span class="input-group-text">내용</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" id="Content"></textarea>
    </div>
    <button onclick="btn_save()" name ="content_save"type="button" class="btn btn-success" style="float:right; margin-top: 10px;">Save</button>
</div>
<!-- Table --->

<table class="table" id="post_table">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">User</th>
    </tr>
    </thead>
</table>


<!-- 세션 없을떄 (비 로그인 상태)-->
% else:
<h1>로그인 하고 들어와라</h1>
<h1><a href="/home/login">로그인</a></h1>
% endif

</body>
</html>